html {
    background-color: white;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;  
}


/*This is the header*/
.colmaracademy {
    color: rgb(175, 174, 174);
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center; 
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: white;
    margin-top: 0;
    top: 0; 
    padding-top: 10px;
    box-shadow: 0 7px 6px -6px #222;
}

.colmaracademy img {
    margin-left: 24px; 
    width: 4rem;
}

.colmaracademy span {
    color: rgb(63, 63, 63);
}

.colmaracademy h1 {
    line-height: 32px;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 900; 
}

 .colmaracademy .nav {
    color: black;
    display: inline-flex;
    gap: 16px;
    margin-left: auto;
    margin-right: 24px;
    font-family: 'Josefin Sans', sans-serif;  
 }


 /*This is the banner*/
.banner-container {
    width:100%;
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 64px; 
}


.banner-img { 
    margin: 32px 24px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.banner-words {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.banner-words h2 {
    flex-wrap: wrap;
    max-width:100%;
    font-size: 4rem; 
    color: rgb(76, 76, 76);
}

.banner-words h3 {
    flex-wrap: wrap;
    max-width:100%;
    font-size: 2.5rem;
    color: rgb(76, 76, 76);
}

.banner-words p {
    background-color: rgb(76, 76, 76);
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-top: 14px;
    padding-bottom: 8px;
}


/*This is section one*/
.section-one {
    width: 100%; 
    color: rgb(76, 76, 76); 
    display: flex; 
}

.section-one .left-one {
    width: auto; 
    margin: 32px 24px;
    width: 60%;
}

.section-one .left-one img {
    margin-bottom: 32px; 
    display: flex;
    flex-wrap: wrap;
}

.section-one h2 {
    font-size: 3rem;  
    font-weight: 900;  
}

.section-one h3 {
    font-size: 1.5rem;
    font-weight: lighter; 
}

.section-one h4 {
    padding-top: 32px;  
}



/*Right side*/
.section-one .right-one {
    background-color: white; 
    display: flex;
    width: 40%;  
}

.section-one .right-one {
    display: flex;
    flex-direction: column; 
}

.portions-one {
    display: flex;
    flex-direction: row;  
    margin-top: 16px;
    border: 1px solid rgb(209, 209, 209);
}

.portions-one:hover {
    background-color: rgb(209, 209, 209);
    color: black; 
}

.portions-one img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.portion-one-words {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    margin: auto; 
}

.portion-one-words h2 {
    font-size: 2.5rem; 
    margin-bottom: 0; 
}

.portion-one-words h3 {
    font-size: 1.5rem;
    font-weight: lighter;     
}

.portion-one-words h4 {
    font-size: 1.5rem; 
    margin-top: 0; 
    color: rgb(55, 160, 226); 
    font-weight: 400; 
}


/*This is section two*/
.section-two {
    background-color: rgb(240, 240, 240);
}

.section-two h1 {
    text-align: center;
    padding-top: 64px;  
    font-size: 4rem;
}

.section-two-boxes {
    padding: 32px 72px;  
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 32px; 
}


.float-boxes {
    display: flex;
    flex-wrap: wrap;;
    flex-direction: column; 
    background-color: white; 
    width:fit-content; 
}

.float-boxes img{
    height: auto;
}

.words-in-box {
    padding: 16px;  
}

.words-in-box h2 {
    font-size: 2.3rem; 
    color: rgb(72, 72, 72); 
}

.words-in-box h3 {
    font-size: 1.5rem;
    font-weight: lighter; 
    width: 400px; 
    color: gray;    
}

.words-in-box span {
    padding: 8px 0px; 
}


/*This is section three*/
.section-three {
    padding: 32px 24px; 
    max-width: 100%; 
}
.section-three-title h1 {
    text-align: center;
    padding: 64px 0px 32px 0px; 
    font-size: 4rem; 
}

.section-three-video {
    width: 60%;
}

.section-three-video video {
    max-width: 100%; 
}

.words-under-video {

}

.words-under-video h2 {
    font-size: 2rem; 
    color: rgb(72, 72, 72); 
}

.words-under-video h3 {
    font-size: 1.5rem;
    font-weight: lighter; 
    color: gray;    
}