html {
    background-color: white;
    font-size: 16px;
}


/*This is the header*/
.colmaracademy {
    color: rgb(175, 174, 174);
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center; 
    flex-wrap:wrap;
    height: 64px;
    margin-top: 10px;
    width: 100%;
}

.colmaracademy img {
    margin-left: 24px; 
    width: 4rem;
}

.colmaracademy span {
    color: rgb(63, 63, 63);
}

.colmaracademy h1 {
    line-height: 32px;
}

 .colmaracademy .nav {
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: auto;
    margin-right: 24px;
 }


.banner {
    background-color: rgb(221, 221, 221);
    width: 100%;
    display: flex; 
    align-items: center;
}

.banner img{
    display: inline-flex;
    width: 60%;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
    margin-right: 24px;
}

.banner h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    font-weight: bolder; 
    text-align: left;
}

.banner h3{
    display: flex;
    flex-wrap: wrap;

}